<div class="container">
  <h3>Xvideos Ninja</h3>
  <div class="row">
    <% @top.each do |entry| %>
      <a class="col-sx-3" href="/video/<%=entry[:url]%>"><img class="img-thumbnail" src="<%=entry[:thumbnail]%>"/></a>
    <% end %>
  </div>
</div>
